/*
#top-main{
	background:url(images/menu-bg.png) top left repeat-x;
	text-align:left;
}

#divone ul.clickMenu li:hover a{

}
#divone ul.clickMenu li:hover a span{
	background:url(images/hovermenu.png) repeat-x;
}
#divone ul#click li:hover a{
	background:url(images/menu-bg-click-r.png) right top no-repeat;
	color:#141414;
	//background:#f0f;
}

#divone ul#click li:hover a span{
	background:url(images/menu-bg-click.png) left top repeat-x;
}

#divone ul#click li:hover ul li:hover{
	background:url(images/bg-menu-item-left.jpg) left top repeat-x;
}

#divone ul#click li:hover ul li:hover a{
	background:url(images/bg-menu-item-right.jpg) right top no-repeat;
}

#divone ul#click li:hover ul li a{
	background:none;
	color:#141414;
}

#divone ul#click li:hover ul li a span{
	background:none;
}
*/
.pagination{
	height:35px;
	line-height:35px;
	padding:10px;
	text-align:center;
	font-size:13px;
}
.pagination div{
	float:left;
}
.pagination .button2-right{
	padding-left:3px;
	padding-right:3px;
}
.pagination .button2-right a{
	color:#00F;
	text-decoration:none;
}
.pagination .button2-right a:hover{
	color:#F00;
}
.pagination .button2-left{
	padding-left:5px;
	padding-right:5px;
}
.pagination .page a{
	padding-left:10px;
	padding-right:10px;
}
.pagination .button2-left .page a,
.pagination .button2-left .page span{
	padding-left:3px;
	padding-right:3px;
	color:#f06262;
	font-size:20px;
}
.pagination span{
	color:#47b2f0;
	font-size:20px;
}
.pagination .button2-left .page span{
	color:#47b2f0;
}
.pagination .button2-left a{
	height:35px;
	width:35px;
	color:#f06262;
	font-size:20px;
	text-decoration:none;
	padding-left:9px !important;
	padding-right:9px !important; 
}
.pagination .button2-left a:hover{
	color:#adc602;
}
.pagination .button2-right .start span{
	background:url(images/button-start-off.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-right .start a{
	background:url(images/button-start-off.png);
	height:35px;
	width:35px;
	display:block;
}

.pagination .button2-right .start a:hover{
	background:url(images/button-start-over.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-right .prev span{
	background:url(images/button-prev-off.png);
	background:url(images/back.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-right .prev a{
	background:url(images/back.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-right .prev a:hover{
	background:url(images/button-prev-over.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-left .end span{
	background:url(images/button-end.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-left .end a{
	background:url(images/button-end.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-left .end a:hover{
	background:url(images/button-end-over.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-left .next span{
	background:url(images/next.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-left .next a{
	background:url(images/next.png);
	height:35px;
	width:35px;
	display:block;
}
.pagination .button2-left .next a:hover{
	background:url(images/button-next-over.png);
	height:35px;
	width:35px;
	display:block;
}