.clear{
	clear: both;
}
footer {
    margin-top: 0px;
}
.pricing .plan.popular {
    border-radius: 5px;
}
.pricing .plan.popular .header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan.popular {
    border-radius: 5px;
    box-shadow: 0 0 15px #aaa;
    position: relative;
    z-index: 99;
}
.plan.popular .header {
    background-color: #764ebe;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}
.plan.popular .header h2 {
    color: #fff
}
.plan {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px #aaa;
    margin: 20px 0;
    min-height: 90px;
    padding-bottom: 25px;
    text-align: center;
}
.plan .header {
    background: #eee none repeat scroll 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #999;
    padding: 12px 15px;
}
.plan .header h1, .plan .header h2, .plan .header h3 {
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.plan .header h2{
    font-size: 30px;
	color: #999;
}
.plan .price {
    border-top: 1px dashed #ddd;
    margin: 0 auto 15px;
    width: 90%;
}
.plan .price h3 {
    font-size: 40px;
    line-height: 1;
    vertical-align: top;
	font-weight: 500;
	margin-bottom: 10px;
    margin-top: 20px;
}
.plan .price h3 span {
    display: inline-block;
    font-size: 40px;
    margin: 6px 0 0 -7px;
    position: relative;
    vertical-align: top;
}
.plan .price h4 {
    font-size: 50px;
    line-height: 1;
    vertical-align: top;
}
.plan .price h4 span {
    display: inline-block;
    font-size: 30px;
    margin: 6px 0 0 -7px;
    position: relative;
    vertical-align: top;
}
.plan .price h5 {
    font-size: 40px;
    line-height: 1;
    vertical-align: top;
}
.plan .price h5 span {
    display: inline-block;
    font-size: 20px;
    margin: 6px 0 0 -7px;
    position: relative;
    vertical-align: top;
}
.plan .price h6 {
    color: #aaa;
    font-size: 14px;
}
.plan ul {
    list-style-type: none;
    margin-top: 2px;
    padding: 20px;
}
.plan ul li {
    line-height: 22px;
    margin-bottom: 9px;
}
.plan ul li a {
    color: #e6e9ed;
    text-decoration: underline;
}
.plan ul li:last-child {
    border-bottom: medium none;
}
@media (min-width: 768px) {
	.pricing .plan{
		margin-bottom: 20px;
	}
}
@media (min-width: 992px) {
	.plan.popular{
		margin-top: 0;
	}
	.pricing .plan.popular .header {
		margin-bottom: 0px;
	}
}
@media (min-width: 1200px) {
	.plan.popular{
		margin-top: -20px;
	}
	.pricing .plan.popular .header{
		margin-bottom: 20px;
	}
}
/*Danh muc tang truong*/
img.cotuc {
    max-width: 360px;
}
th {
    background-color: #764ebe;
    color: #fff;
    font-weight: normal;
    padding: 3px 5px;
    text-align: center;
	border: 1px solid #7d7d7d;
}
td {
    padding: 3px 5px;
	border: 1px solid #7d7d7d;
}
.increasecatalog-table-detail table{
	width: 1200px;
	overflow: auto;
}
.increasecatalog-table-detail{
	margin: auto;
	overflow: auto;
}
.red {
	color: red;
}
.green {
	color: green;
}
/*Danh muc tang truong*/

/*Modal*/
.modal-backdrop {
	z-index: 1000000000;
	opacity: 0.6;
}
.modal {
	z-index: 1000000001;
}
.modal.in .modal-dialog{
	top:70px
}
.modal-header {
    padding: 10px 15px;
	background-color: #7036C1;
}
.modal-body {
    max-height: 350px;
    overflow: auto;
}
.modal-header h6{
	color: #fff;
}
.modal-header button{
	color: #fff;
	opacity: 1;
}
/*Modal*/

/*custom color*/

a {
    color: #733272;
}
.page .text-primary{
    color: #733272;
}
.page .btn-primary {
    background-color: #733272;
    border-color: #733272;
}
.page .bg-bermuda {
    background: #733272;
    fill: #733272;
}
.admin_comment{
	background-color: #f1caf9;
    border-radius: 2px;
    padding: 3px 7px;
}
.rd-navbar .rd-navbar-inner{
    background: #733272;
}
.rd-navbar-static .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a {
    color: #733272;
}
.rd-navbar-fullwidth .rd-navbar-nav > li > a::before,
.rd-navbar-static .rd-navbar-nav > li > a::before{
    background: #eee;
}
.rd-navbar-static .rd-navbar-nav > li > a, 
.rd-navbar-static .rd-navbar-nav > li.active > a,
.rd-navbar-fullwidth .rd-navbar-nav > li > a {
    color: #eee;
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > a::after, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > a::after {
    color: #eee;
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > a:hover::after, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > a:hover::after {
    color: #eee;
}
.rd-navbar-static .rd-navbar-nav > li > a::before, .rd-navbar-fullwidth .rd-navbar-nav > li > a::before {
    background: #eee;
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > a:hover::after, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > a:hover::after {
    color: #eee;
}
.rd-navbar-static .rd-navbar-nav > .rd-navbar-submenu > a::after, .rd-navbar-fullwidth .rd-navbar-nav > .rd-navbar-submenu > a::after {
    color: #eee;
}
.rd-navbar-static .rd-navbar-nav > li.focus > a, .rd-navbar-static .rd-navbar-nav > li > a:hover, .rd-navbar-fullwidth .rd-navbar-nav > li.focus > a, .rd-navbar-fullwidth .rd-navbar-nav > li > a:hover {
    color: #79d5ca;
}


/*end custom color*/