*{
	margin: 0;
	padding: 0;
	font-family: "Roboto","Arial",sans-serif;
	font-size: 12px;
	box-sizing: border-box;
}
.none{
	display: none;
}
.hide{
	opacity: 0;
	transition: all 1s ease;
}
.show{
	opacity: 1;
	transition: all 1s ease;
}
#chatBox{
	margin: auto;
	position: relative;
	overflow: auto;
}
.chat-header{
	background-color: #ad47ab;
	width: 100%;
	color: #fff;
	padding: 7px 10px;
	overflow: auto;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-left: 1px solid #AD47AB;
	border-right: 1px solid #AD47AB;
}
.chat-header span {
    font-size: 12px;
}
.customerlist{
	width: 30%;
	height: 500px;
	background-color: #dee5f2;
	float: left;
	margin-top: 0;
	color: #404040;
}
.customerlist .customers{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	margin-bottom: 0;
}
.customerlist li{
	float: left;
	list-style: none;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 12px;
}
.customerlist li.active, .log-msg.customer-active, .log-msg.customer-active .log-time{
	background-color: #fff;
}
.log-msg.customer-active:before{
	border-right-color: #fff;
}
.customerlist li:first-child{
	margin-top: 20px;
}
#chatBox .customer-avatar {
    margin-right: 10px;
    width: 46px;
    height: 46px;
	position: relative;
	float: left;
}
.customer-name {
    display: inline-block;
    margin-top: 13px;
	width: calc(100% - 70px);
	font-size: 12px;
	float: left;
}
#chatBox .avatar {
    border-radius: 50% !important;
    width: 100%;
}
.have-new-msg-icon {
    background-color: green;
    border: 2px solid #fff;
    border-radius: 50% !important;
    bottom: 2px;
    display: block;
    height: 13px;
    position: absolute;
    right: -2px;
    width: 13px;
	transition: all 1s ease;
}
.chat_log {
    background-color: #eee;
    border-left: 1px solid #AD47AB;
    border-right: 1px solid #AD47AB;
    border-bottom: 1px solid #AD47AB;
    float: left;
    height: 328px;
    position: relative;
    width: 100%;
	overflow: hidden;
}
.chat_log_list{
	overflow-x: hidden;
	overflow-y: auto;
	height: 214px;
	padding: 10px;
}
#chatBox .chat_log .customer-avatar {
    height: 30px;
    width: 30px;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.log-item {
    line-height: 1.5;
	margin-bottom: 40px;
	display: flex;
	clear: both;
}
.log-item:first-child {
	margin-top: 5px;
}
.log-msg {
    background-color: #d0e4f2;
    border-radius: 5px !important;
    padding: 6px;
	position: relative;
	min-width: 150px;
}
.log-msg::before {
    border-bottom: 6px solid transparent;
    border-right: 6px solid #d0e4f2;
    border-top: 6px solid transparent;
    content: "";
    height: 0;
    left: -5px;
    position: absolute;
    top: 2px;
    width: 0;
}
.log-time {
    background-color: #d0e4f2;
    border-radius: 2px !important;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: -13px;
	padding: 0 3px;
	height: 17px;
}
.msg-content{
	color: #000;
}
.new-msg-form{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}
.input-msg {
    border: 1px solid #90b9f9;
    height: 80px;
    resize: none;
    width: 100%;
	padding: 10px;
	background-color: #fff;
	clear: both;
	text-align: left;
	overflow-x: hidden;
}
.insert{
	display: inline-block;
	cursor: pointer;
	position: relative;
}
#insert-emotion {
    height: 27px;
    margin-right: 4px;
    overflow: hidden;
    width: 29px;
}
.chaticon.emotionicon {
    height: 20px;
    width: 20px;
}
#insert-emotion i {
    color: #666;
    display: inline-block;
    font-size: 30px;
    margin-left: -4px;
    margin-top: -11px;
    padding: 0;
}
#insert-image {
    color: #800000;
    font-size: 20px;
    height: 27px;
    margin-bottom: 0px;
    margin-right: 6px;
    margin-top: -1px;
    width: 30px;
}
#insert-file {
    color: #008080;
    font-size: 17px;
    margin-right: 21px;
}
.icon-motion-container {
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 80%;
    padding: 10px;
    position: absolute;
    right: 4px;
    top: -221px;
    width: 410px;
}
.icon-motion-container::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #fff;
    bottom: -10px;
    content: "";
    height: 0;
    position: absolute;
    right: 71px;
    width: 0;
    z-index: 1;
}
.icon-motion-container::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 13px solid #ccc;
    bottom: -13px;
    content: "";
    height: 0;
    position: absolute;
    right: 71px;
    width: 0;
}
.img-msg{
	max-width: 100%;
}
.spinner {
  margin: 200px auto 0 !important;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100% !important;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.loading-overplay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.3);
	z-index: 1;
}